@tailwind base;
@tailwind components;
@tailwind utilities;

#regular > div {
  width: 99vw;
  max-width: 550px;
}

#regular #content {
  max-height: 55vh;
  overflow: scroll;
}

.historyModal #content {
  padding: 0;
}  

@media print {
  #closeGoodQr, #downloadGoodQr {
    display: none;
  }
}